In [51]:
# Import Pandas Library
import pandas as pd 

# Load Datasets
df = pd.read_csv('../../datasets/single_family_home_values.csv')
df

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.849160,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.888020,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963
2,184430015,3190 Wadsworth Blvd,Denver,CO,80033,39.761710,-105.081070,3,1.0,0,1882,23875,1917.0,2008-04-03,330000,NaN,NaN,488840
3,155129946,3040 Wadsworth Blvd,Denver,CO,80033,39.760780,-105.081060,4,3.0,0,2400,11500,1956.0,2008-12-02,185000,2008-06-27,0.0,494073
4,245107,5615 S Eaton St,Denver,CO,80123,39.616181,-105.058812,3,4.0,8,2305,5600,1998.0,2012-07-18,308000,2011-12-29,0.0,513676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,51411356,802 S High St,Denver,CO,80209,39.701902,-104.964871,4,4.0,8,2169,4950,1922.0,2000-08-24,333000,NaN,NaN,1080081
14996,21721153,214 S Lincoln St,Denver,CO,80209,39.712608,-104.986000,3,3.0,11,2937,4500,1890.0,2015-03-05,645000,2012-07-23,557500.0,807306
14997,12995320,870 S Race St,Denver,CO,80209,39.700736,-104.963707,3,5.0,7,2937,4680,2007.0,2012-01-17,1115000,2008-07-15,1208214.0,1737156
14998,39611615,130 S Lafayette St,Denver,CO,80209,39.714088,-104.970701,3,4.0,10,3193,4970,2005.0,2011-08-10,1350000,2004-12-07,405000.0,2008794
14999,42961679,100 S University Blvd # 1,Denver,CO,80209,39.714399,-104.958955,3,5.0,9,3193,4364,2001.0,2014-05-29,960000,2003-07-11,925000.0,1421401

In [12]:
# Extract Feature 
# In this moment we will make a cluster based on number of 'bedrooms','bathrooms','rooms','squareFootage','lotSize','yearBuilt','priorSaleAmount'

X = df[['bedrooms','bathrooms','rooms','squareFootage','lotSize','yearBuilt','priorSaleAmount']]

# Fill Missing Value, use inplace so we not re enitiate
X.fillna(0,inplace=True)
X.info()
X.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bedrooms         15000 non-null  int64
 1   bathrooms        15000 non-null  float64
 2   rooms            15000 non-null  int64
 3   squareFootage    15000 non-null  int64
 4   lotSize          15000 non-null  int64
 5   yearBuilt        15000 non-null  float64
 6   priorSaleAmount  15000 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 820.4 KB
/Users/harysetiawan/Documents/Work/study/env/lib/python3.7/site-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,priorSaleAmount
0,3,2.0,6,1378,9968,2003.0,165700.0
1,2,2.0,6,1653,6970,2004.0,0.0
2,3,1.0,0,1882,23875,1917.0,0.0
3,4,3.0,0,2400,11500,1956.0,0.0
4,3,4.0,8,2305,5600,1998.0,0.0

In [13]:
# Import sklearn clustering
from sklearn.cluster import KMeans

In [24]:
# Define the best number of cluster
# We need to try and error to know how many cluster is the best
# One of the method is using shilluete scores,
# We can test it by using iteration
from sklearn.metrics import silhouette_score

min_cluster = 3
max_cluster = 11

for i in  range(min_cluster,max_cluster):
    kmeans = KMeans(n_clusters=i,random_state=0).fit(X=X)
    print('cluster = {} with score = {}'.format(i,silhouette_score(X=X,labels=kmeans.labels_)))

# Choose the best score to start clustering in this case, is 8

cluster = 3 with score = 0.6145561996874052
cluster = 4 with score = 0.6168589127153601
cluster = 5 with score = 0.6328560399129648
cluster = 6 with score = 0.643438596521382
cluster = 7 with score = 0.6577290412370432
cluster = 8 with score = 0.660940918441709
cluster = 9 with score = 0.6569805944461118
cluster = 10 with score = 0.656917962508508

In [26]:
# Re create the cluster
kmeans = KMeans(n_clusters=8,random_state=0).fit(X)
kmeans

KMeans(random_state=0)

In [33]:
# Show the cluster labels
kmeans.labels_

# assign label to the cluster
labels = kmeans.labels_
X['cluster'] = labels
X

/Users/harysetiawan/Documents/Work/study/env/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,priorSaleAmount,cluster
0,3,2.0,6,1378,9968,2003.0,165700.0,7
1,2,2.0,6,1653,6970,2004.0,0.0,0
2,3,1.0,0,1882,23875,1917.0,0.0,0
3,4,3.0,0,2400,11500,1956.0,0.0,0
4,3,4.0,8,2305,5600,1998.0,0.0,0
...,...,...,...,...,...,...,...,...
14995,4,4.0,8,2169,4950,1922.0,0.0,0
14996,3,3.0,11,2937,4500,1890.0,557500.0,1
14997,3,5.0,7,2937,4680,2007.0,1208214.0,6
14998,3,4.0,10,3193,4970,2005.0,405000.0,4
14999,3,5.0,9,3193,4364,2001.0,925000.0,6

In [39]:
# Try to get statistic based on the cluster

# Get Label's mean value
X.groupby('cluster').mean().reset_index()

,cluster,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,priorSaleAmount
0,0,2.685397,2.011271,6.013721,1470.267070,6038.964064,1930.862953,1.030708e+04
1,1,3.056401,3.148612,7.534467,2103.851388,6023.485228,1927.998209,5.329720e+05
2,2,3.520000,5.666667,10.333333,4426.133333,11899.466667,1974.240000,1.913499e+06
3,3,3.000000,4.500000,9.000000,3748.000000,8597.500000,1998.000000,1.375006e+07
4,4,2.746151,2.380459,6.379516,1529.458687,5305.921772,1923.191957,3.239376e+05
5,5,4.206897,5.655172,10.586207,4730.827586,15120.551724,1956.689655,3.246791e+06
6,6,3.496124,4.480620,9.201550,3275.848837,7749.031008,1958.678295,9.853971e+05
7,7,2.547935,1.842667,5.564784,1228.406028,5547.359279,1929.483626,1.706972e+05

In [47]:
# Get Label's max max
X.groupby(['cluster','bedrooms']).median()

                  bathrooms  rooms  squareFootage  lotSize  yearBuilt  \
cluster bedrooms
0       0               1.0    3.0          472.5   6110.0     1937.5
        1               1.0    4.0          724.5   4792.5     1922.0
        2               1.0    5.0          962.0   6220.0     1939.0
        3               2.0    6.0         1440.0   6200.0     1928.0
        4               3.0    8.0         2102.0   6240.0     1912.0
        5               3.0   10.0         2610.5   6250.0     1911.5
        6               4.0   11.0         3113.5   6266.5     1905.5
        7               4.5   12.0         3532.5   6446.5     1897.0
        8               3.5   14.0         4628.5   8314.5     1905.5
        9               5.0   15.0         5316.0   7812.0     1893.0
1       0               0.0    0.0         1584.0   5250.0     1974.0
        1               3.0    5.0         1235.0   5500.0     1949.0
        2               2.0    6.0         1318.0   5500.0     1924.0
        3               3.0    7.0         1965.0   5950.0     1922.0
        4               4.0    8.0         2523.0   6240.0     1913.0
        5               4.0   10.0         2787.0   6250.0     1910.0
        6               6.0   13.0         3947.0   6250.0     1907.0
        7               5.0   13.0         3968.5   6343.5     1902.0
        8               5.0   16.0         4068.0   6250.0     1896.0
        9               8.5   29.0         5379.5   7656.0     1895.0
        13             11.0   39.0         4929.0   6287.0     1930.0
2       1               4.0   10.0         3304.0   6250.0     1999.0
        2               5.0    8.5         3562.5   6250.0     2001.0
        3               6.0   10.0         4100.0   6250.0     2005.5
        4               6.0   10.0         4514.0  11800.0     1939.0
        5               6.0   12.0         5106.5  15000.0     1930.0
        6               8.0   11.0         5800.5  54500.0     2004.0
        7               8.0   16.0         7042.0  21300.0     1927.0
3       3               4.5    9.0         3748.0   8597.5     1998.0
4       1               2.0    4.5         1040.0   5775.0     1925.5
        2               2.0    5.0         1105.0   5460.0     1925.0
        3               2.0    6.0         1550.0   4700.0     1912.0
        4               3.0    8.0         2069.0   4760.0     1908.0
        5               3.0    9.0         2200.0   4690.0     1904.0
        6               5.0   11.0         2864.0   4760.0     1898.0
        7               4.0   13.0         2842.0   5562.5     1896.5
        8               4.0   15.0         3207.0   4884.0     1890.0
        9              11.0   21.0         4695.0   6254.0     1887.0
5       2               2.0    7.0         1280.0   5940.0     1925.0
        3               6.0    8.0         4341.0   6250.0     2002.5
        4               6.5   10.5         6381.5  16900.0     1970.5
        5               7.0   12.0         5905.0  26900.0     1929.0
        6               7.5   13.5         6624.0  24856.5     1948.0
        15              7.0   20.0         5637.0   8080.0     1898.0
6       1               3.0    7.0         2058.0   7440.0     1923.0
        2               4.0    8.0         2791.5   6090.0     1992.0
        3               4.0    9.0         2913.5   6250.0     1965.5
        4               4.0    9.0         3335.0   6560.0     1947.0
        5               5.0   10.0         3840.5   9875.0     1927.5
        6               5.5   11.5         5010.0   9930.0     1912.5
        7               8.0   21.0         5026.0   8750.0     1890.0
        8               8.0   13.0         4783.0   9375.0     1905.0
7       1               1.0    4.0          828.0   4430.0     1910.0
        2               2.0    5.0          952.0   6200.0     1940.0
        3               2.0    6.0         1306.0   6100.0     1942.0
        4               2.0    7.0         1784.0   5062.0     1910.0
        5               2.0    8.5         2150.5   5702.5     1905.0
        6               4.5   13.0         2763.5   5312.0     1901.5
        7               3.0   12.0         2773.0   6255.0     1899.0
        10              5.0   19.0         3970.0   6250.0     1912.0

                  priorSaleAmount
cluster bedrooms
0       0                 32500.0
        1                     0.0
        2                     0.0
        3                     0.0
        4                     0.0
        5                     0.0
        6                     0.0
        7                     0.0
        8                     0.0
        9                     0.0
1       0                710000.0
        1                461000.0
        2                490000.0
        3                508100.0
        4                549000.0
        5                500000.0
        6                553000.0
        7                534950.0
        8                630000.0
        9                599000.0
        13               750000.0
2       1               1625000.0
        2               1837500.0
        3               1920000.0
        4               1850000.0
        5               1868800.5
        6               1825000.0
        7               2200000.0
3       3              13750055.0
4       1                297500.0
        2                312000.0
        3                320000.0
        4                335000.0
        5                330000.0
        6                339500.0
        7                343500.0
        8                389000.0
        9                310000.0
5       2               2902000.0
        3               3027500.0
        4               4362950.0
        5               3000000.0
        6               2860000.0
        15              5000000.0
6       1               1175000.0
        2                950000.0
        3                920000.0
        4                940000.0
        5                936500.0
        6                970250.0
        7                975000.0
        8                870000.0
7       1                161950.0
        2                168999.0
        3                175000.0
        4                180900.0
        5                160250.0
        6                168118.0
        7                175000.0
        10               238700.0

In [ ]:
# Note
# 1. Need to know how to validate cluster number
# 2. Need to know how to read data from cluster number
# 3. Need to know how to use silhouette_score and its alternative